<% if @driver.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@driver.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @driver.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @driver do |f| %>
    <%= f.label :username %>
    <br>
    <%= f.text_field :username %>
    <br>
    <%= f.label :first_name %>
    <br>
    <%= f.text_field :first_name %>
    <br>
    <%= f.label :last_name %>
    <br>
    <%= f.text_field :last_name %>
    <br>
    <%= f.label :age %>
    <br>
    <%= f.number_field :age %>
    <br>
    <%= f.label :experience, "How many years have you been racing?" %>
    <br>
    <%= f.number_field :experience %>
    <br>
    <%= f.label :country, "What country were you born in?" %>
    <br>
    <%= f.text_field :country %>
    <br>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    <br>
    <%= f.submit %>
<% end %>