<p>Full Name: <%= @driver.full_name %></p>
<p>Age: <%= @driver.age %></p>
<p>Experience: <%= @driver.experience %></p>
<p>Country: <%= @driver.country %></p>
<br>
<br>
<%= link_to "Vehicles >>", driver_vehicles_path(@driver) %>
